{% load socialaccount %}

{% load static %}
<link rel="stylesheet" href="{% static 'common/css/header.css' %}" media="screen">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@600&family=Noto+Sans:wght@700&family=Open+Sans:wght@800&display=swap" rel="stylesheet">



<div class="px-3 py-2 text-black">
      <div class="item_container">
        <div class="d-flex flex-wrap align-items-center ">
          <a href="/Board/" class="d-flex align-items-center  text-white text-decoration-none float-left">
            <img src="{% static 'common/images/logo.png' %}" alt="logo" width="70" height="70">
            <p id = "name">HYBE_RO</p>
            {% comment %} <p id = "sub_name">World No.1 Entertainment</p> {% endcomment %}
          </a>
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/Board/Is/Is_Sales/" class="nav-link text-black">
                <svg class="bi d-block mx-auto mb-1" width="10" height="0"><use xlink:href="#home"></use></svg>
                연결 포괄손익계산서 분석
              </a>
            </li>
            <li>
              <a href="/Board/Fs/Fs_Iv/" class="nav-link text-black">
                <svg class="bi d-block mx-auto mb-1" width="10" height="0"><use xlink:href="#speedometer2"></use></svg>
                재무제표
              </a>
            </li>
            <li>
              <a href="/Board/Em/Em_Status/" class="nav-link text-black">
                <svg class="bi d-block mx-auto mb-1" width="10" height="0"><use xlink:href="#table"></use></svg>
                임직원
              </a>
            </li>
            <li>
              <a href="/Board/Bs/Bs_Contrac/" class="nav-link text-black">
                <svg class="bi d-block mx-auto mb-1" width="10" height="0"><use xlink:href="#grid"></use></svg>
                비지니스
              </a>
            </li>
            <li>
              <a href="/news/" class="nav-link text-black">
                <svg class="bi d-block mx-auto mb-1" width="10" height="0"><use xlink:href="#grid"></use></svg>
                News
              </a>
            </li>
            <li>
              <a href="/free_board/" class="nav-link text-black">
                <svg class="bi d-block mx-auto mb-1" width="10" height="0"><use xlink:href="#grid"></use></svg>
                게시판
              </a>
            </li>
          </ul>
          <div class="icon_container">
            <div class="user_menu">
              <div class="user_space">
                {% if user.is_authenticated %} 
                  <img src="{% static 'common/images/user.png' %}" alt="logo" width="30" height="30">
                  {{ user.username }}
                  <a class="dropdown-item" href="/Logout/">
                    Log Out
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script src="{% static 'common/js/header.js' %}"></script>

